<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale=10>
    <title>sticekr cat popup</title>
    <style>
        button {
            background-color: #DF7467;
            padding: 10px 30px;
            font-size: 16px;
            border: none;
            float: right;
        }
    </style>

</head>

<body>
    <div>
        <div style="float: left">
            <img src="/static/images/jisoo_cat.png" width="200px">
        </div>
        <div>
            <h1>딸기 든 냐옹이</h1>
            <h4>귀여운 딸기와 핑크 고양이 프레임을 <br> 이용하여 사진을 꾸며보세요~</h4>
        </div>
        <div>
            <button onclick="window.open('/stickers/sticker_edit')"><b>사용하기</b></button>
        </div>
    </div>
</body>