<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" initial-scale=10>
    <title>sticker bear popup</title>
    <style>
        h1{font-family: 'Dongle', sans-serif;
          font-size: 60px;

       }
        button {
            background-color: #DF7467;
            padding: 10px 30px;
            font-size: 16px;
            border: none;
            float: right;
        }
    </style>

</head>

<body>
    <div>
        <div style="float: left">
            <img src="/static/images/jisoo_bear.jpg" width="200px">
        </div>
        <div>
            <h1>파랑 곰돌이</h1>
            <h4> 파란 곰돌이귀와 곰돌이 코가 있는 필터를 <br> 이용하여 사진을 꾸며보세요~</h4>
        </div>
        <div>
            <button onclick="javascript:window.close()"><b>사용하기</b></button>
        </div>
    </div>
</body>