<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>편집창</title>
</head>
<body>
    <P>문서를 열면 팝업창이 표시됩니다.</P>
    <script>
        function openCenter(doc, win, w,h){
            var left = (screen.availWidth-w)/2
            var top = (screen.availHeight-h)/2
            var opt = "left = " + left + ", top=" + top +",width ="+ w +",height=" +h;
            window.open(doc,win,opt)
            
        }
        openCenter("sticker_save.html", "pop", 1400,700)
    </script>
    
</body>
</html>