* {
    margin: 0;
    padding: 0;
}
header {
    z-index:9;
}
.inner {
    display: flex;
}
#search {
    position: fixed;
    width: 100%;
    height: 60px;
    height: 60px;
    background-color: #f3f3f3;
    z-index:2;
}
#search .inner .content form {
    margin: 0;
    position: relative;
    right: 0;
    width: 20%;
}
#search .content #query {
    position: relative;
    margin-left: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
    right: 0;
}
.main_menu {
    position: relative;
    margin-top:100px;
    left: 0;
    height: 300px;
    width: 200px;
    border-top: 4px solid #df7467;
}
.main_menu h3 {
    font-weight: 600;
    text-align: left;
    padding-left: 20px;
}
.main_menu > ul {
    margin-top: 0;
    list-style: none;
}
.main_menu > ul > li {
    width: 100%;
}
.main_menu > ul > li > a {
    display: block;
    width: 100%;
}
.main_menu > ul > li > ul {
    list-style: square;
}
/**/
#main {
    display: relative;
}
#main .inner{
    position:relative;
}
.sign_card {
    position: relative;
    margin: 100px auto;
    margin-left: 150px;
    padding: 20px 40px;
    width: 400px;
    height: 500px;
    text-align: center;
    border: 2px solid #df7467;
}

ul {
    padding: 0;
    padding: 0;
    display: relative;
    justify-content: space-between;
    flex-grow: 0;
    flex-basis: 1;
    text-align: center;
}

ul > li {
    display: relative;
    display: inline-block;
    margin-top: 20px;
    padding: 0;
    width: 30%;
}

li a {
    color: black;
    text-decoration-line: none;
}

.sign_card .signup {
    width: 80%;
    padding: 0 32px;
    border-radius: 10px;
    box-sizing: content-box;
}