* {
  margin: 0;
  padding: 0;
}
header {
    z-index:9;
}
#search {
    height: 60px;
    position: fixed;
    width: 100%;
    background-color: #dcdcdc;
    z-index:2;
}
#search .content {
    position: relative;
    width: 100%;
}
#search .inner .content form {
    margin: 0;
    position: relative;
    right: 0;
    width: 20%;
}
#search .content #query {
    position: relative;
    margin-left: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
    right: 0;
}
.inner {
    display: flex;
}
ul {
    list-style: none;
}

.main_menu {
    left: 0;
    width: 200px;
    margin-top: 150px;
}
.main_menu > h3 {
    font-weight: bold;
}
.main_menu > ul {
    list-style: none;
}
.main_menu > ul > li {
    width: 100%;
}
.main_menu > ul > li > a {
    display: block;
    width: 100%;
}
.main_menu > ul > li > ul {
    list-style: square;
}
.main {
    display: relative;
    background-color: #eee;
}
.sign_card {
    position: relative;
    margin: 150px auto;
    padding: 20px 60px;
    width: 600px;
    height: 800px;
    border: 2px solid #df7467;
}
.sign_card > h1 {
    margin-top: 80px;
    margin-bottom: 100px;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: #323232;
    font-size: 48px;
}
.sign_card > form {
    position: relative;
    width: 100%
}
.sign_card .info {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
.sign_card .info label {
    display: inline-block;
    position: relative;
    margin: auto 0;
    padding-left: 12px;
    width: 25%;
    background-color: #FFF0F0;
    font-size: 18px;
}
.sign_card .info input {
    display: inline-block;
    position: relative;
    width: 75%
}
.sign_card #user_ID {
    display: inline-block;
    position: relative;
    width: 55%;
}
.sign_card #checkId {
    position: relative;
    width: 20%;
    box-sizing: border-box;
    background-color: #787878;
    font-size: 16px;
}
.sign_card .signup {
    position: relative;
    margin-top: 80px;
}
.sign_card .signup #signup_button {
    position: relative;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    background-color: #787878;
    font-size: 18px;
}

