/* 전체창 */
#content{
    border:1px solid gray;
    border-radius:10px;
    padding:100px;
    width: 1100px;
    height: 450px;

}
ul {margin-left:15px;
list-style-type:none;}
ul li {margin:10px 15px;}


/* 이미지업로드 */
button1{
    width:70px;
    height: 10px;
    border-radius:5px;
    background-color: #CACACA;
    font-size: 12px;
    padding:7px;
    position:fixed; left:50px; top:540px;
    text-align: center;
   
}
/* 완료 */
button{
    width:85px;
    height: 30px; 
    border:0px solid #DF7467;
    border-radius:5px;
    background-color: #DF7467;
    font-size: 12px;
    padding:7px;
    position:fixed; left:50px; top:570px;
}
/* 이미지 */
li {
    width:600px;
    height:350px;
    border:5px solid gray;
    padding:100px;
    margin:20px;
    /* background:url("img/jisoo_cat.png") no-repeat left top ;
    text-align: center; */
    position:fixed; left:150px; top:30px;

}
#fixed1{background-size: contain ;}
.face{
    width: 500px; height: 550px; 
    background:rgb(49, 49, 49);
    margin:right;
    position:fixed; left:370px; top:45px;
    background:url("/Sticker/jisoo_cat.png") no-repeat left top;

}
#face{background-size: contain ;}
/* 불러온 사진 목록 */
.image1{
    width: 220px; height: 120px; 
    border:5px solid gray;
    margin:10px 15px;
    background-color: white;
    position:fixed; right:150px; top:30px;
    

}
.image2{
    width: 220px; height: 120px; 
    border:5px solid gray;
    background-color: white;
    position:fixed; right:165px; top:180px;
    
}
.image3{
    width: 220px; height: 120px; 
    border:5px solid gray;
    background-color: white;
    position:fixed; right:165px; top:320px;
    
}
.image4{
    width: 220px; height: 120px; 
    border:5px solid gray;
    margin:right;
    background-color: white;
    position:fixed; right:165px; top:460px;
    
}