
/* 전체창 */
    #content{
        border:1px solid gray;
        border-radius:10px;
        padding:100px;
        width: 1100px;
        height: 450px;
    }
ul {margin-left:15px;
list-style-type:none;}
ul li {margin:10px 15px;}
/* 이미지업로드 */
button{
    border:1px solid #CACACA;
    border-radius:5px;
    background-color: #CACACA;
    font-size: 12px;
    padding:10px;
    position:fixed; left:100px; top:550px;
    width:110px;
    height: 17px; 
    text-align: center auto; 
    }
        
/* 완료 */
button1{
    border:1px;
    border-radius:5px;
    background-color: #DF7467;
    font-size: 12px;
    padding:7px;
    position:fixed; left:100px; top:580px;
    width:95px;
    height: 20px; 
    text-align: center;  
    
    }
    a{
        border:1px;
        border-radius:5px;
        background-color: #DF7467;
        font-size: 12px;
        padding:7px;
        position:fixed; left:100px; top:580px;
        width:95px;
        height: 20px; 
        text-align: center;  
        
        }

/* 이미지 */
li {
    width:500px;
    height:250px;
    border:5px solid gray;
    padding:100px;
     margin:20px;
    /* background:url("img/jisoo_cat.png") no-repeat left top ;
    text-align: center; */
    position:fixed; left:200px; top:30px;

    }
#fixed1{background-size: contain ;}

.face{
    width: 400px; height: 450px; 
    margin:right;
    position:fixed; left:400px; top:45px;
    background:url("/static/images/jisoo_cat.png") no-repeat left top;

    }
#face{background-size: contain ;}
/* 불러온 사진 목록 */
.image1{
    width: 220px; height: 120px; 
    border:5px solid gray;
    margin:10px 15px;
    background-color: white;
    position:fixed; right:150px; top:30px;
            

    }
.image2{
    width: 220px; height: 120px; 
    border:5px solid gray;
    background-color: white;
    position:fixed; right:165px; top:180px;
            
    }
.image3{
    width: 220px; height: 120px; 
    border:5px solid gray;
    background-color: white;
    position:fixed; right:165px; top:320px;
            
    }
.image4{
    width: 220px; height: 120px;
    border:5px solid gray;
    margin:right;
    background-color: white;
    position:fixed; right:165px; top:460px;
            
    }
    /* 스티커 */
    /* bat */
.sticker1{
    width: 90px; height: 109px; 
           
            
    margin:right;
    position:fixed; left:300px; top:550px;
    background:url("/static/images/bat.jpg") no-repeat left top;

    }
#bat{background-size: 100% 110% ;}
/* cat */
.sticker2{
    width: 90px; height: 103px; 
    border:3px solid #DF7467;   
    margin:right;
    position:fixed; left:390px; top:551px;
    background:url("/static/images/cat.png") no-repeat left top;

    }
#cat{background-size: contain ;}
/* bear */
.sticker3{
    width: 90px; height: 109px; 
    margin:right;
    position:fixed; left:485px; top:550px;
    background:url("/static/images/bear.png") no-repeat left top;

    }
#bear{background-size: cover ;}
/* bear_nose2 */
.sticker4{
    width: 90px; height: 109px; 
    margin:right;
    position:fixed; left:575px; top:550px;
    background:url("/static/images/bear_nose2.png") no-repeat left top;

    }
#bear_nose{background-size: contain ;}
.sticker5{
    width: 90px; height: 104px; 
    border:3px solid gray;
    background:white;
    margin:right;
    position:fixed; left:660px; top:550px;

    }
.sticker6{
    width: 90px; height: 104px; 
    border:3px solid gray;
    background:white;
    margin:right;
    position:fixed; left:754px; top:550px;

    }
    /* 스티커 이동창 */
.left{
    width: 30px; height: 60px; 
 /* < */
    margin:right;
    position:fixed; left:282px; top:575px;
    background:url("/static/images/pass_left.jpg") no-repeat left top;

    }
/* > */
.right{
    width: 30px; height: 60px; 
           
    margin:right;
    position:fixed; left:850px; top:575px;
    background:url("/static/images/pass_right.jpg") no-repeat left top;
    }
       
#pass_1{background-size: contain ;}
#pass_2{background-size: contain ;}