{% extends 'base.html' %}
{% block content %}
{% include 'users/user_menu.html' %}
<div class="inner">
	<div class="sign_card">
		<h1>비밀번호 찾기</h1>
		<form action="" method="post">
			{% csrf_token %}
			<table class="info">
				<tr>
					<td colspan="2"></td>
				</tr>
				<tr>
					<th>ID</th>
					<td>
						<input id="id" type="text" name="name" placeholder="아이디" required/>
					</td>
				</tr>
				<tr>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="2" class="big_td">
						<button class="next" id='next' type="button">NEXT</button>
					</td>
				</tr>
				<tr>
					<td colspan="2" >
						<a href=" {% url 'find_id' %}" class="text-dark">ID 찾기</a>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<h3 id="result"></h3>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div id="password"></div>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
{% endblock %}

{% block script %}
<!-- Find Password -->
<script type="text/javascript">
$(function(){
    $("#next").click(function(){
        var userid = $('#id').val();

        if(userid === ''){
            alert('아이디를 입력하세요');
            return false;
        }
        var csrf_token = "{{csrf_token}}";
        $.ajax({
            url:'/find_mypw/',
            type:'POST',
            headers: {'X-CSRFToken': csrf_token},
            data:{'userid':userid,
                  'csrfmiddlewaretoken': csrf_token
            },
            success:function(response){
                if(response.success === 'True'){
                    alert('성공');
                    var userpassword = response.userpassword;
                    $('#result').text('비밀번호는 ' + userpassword + ' 입니다.');
                }else{
                    alert('아이디가 일치하지 않습니다.');
                    location.href = 'http://127.0.0.1:8000/users/find_pw'
                }
            }
        });
    });
});
</script>
{% endblock%}