{% extends 'base.html' %}
{% block content %}
{% include 'users/user_menu.html' %}
<div class="inner">
	<div class="sign_card">
		<h1>ID 찾기</h1>
		<form action="" method="post">
			{% csrf_token %}
			<table class="info">
				<tr>
					<td>
						<input id="name" type="text" name="name" placeholder="이름" required/>
					</td>
				</tr>
				<tr>
					<td>
						<input id="tel" type="tel" name="phone" placeholder="전화번호" required/>
						<button id="get_code" class="btn-sm">인증번호 받기</button>
					</td>
				</tr>
				<tr>
					<td>
						<!--아이디 띄우기 위한 태그-->
						<h3 id="result"></h3>
					</td>
				</tr>
				<tr>
					<td class="big_td">
						<button class="next" id='next' type="button">NEXT</button>
					</td>
				</tr>
			</table>

		</form>
		<ul>
			<li><a href="{% url 'find_pw' %}">비밀번호 찾기</a></li>
		</ul>
	</div>
</div>
{% endblock %}

{% block script %}
<!-- Find ID -->
<scrip type="text/javascript">
$(function() {
	$("#next").click(function() {
		var username = $('#name').val();
		var usertel = $('#tel').val();

		if (username === '') {
			alert('아이디를 입력하세요');
			return false;
		}
		if (usertel === '') {
			alert('전화번호를 입력하세요');
			return false;
		}

		var csrf_token = "{{ csrf_token }}";
		$.ajax({
			url: '/find_myid/',
			type: 'POST',
			headers: {'X-CSRFToken': csrf_token},
			data: {
				'username': username,
				'usertel': usertel,
				'csrfmiddlewaretoken': csrf_token
			},
			success: function(response) {
				if (response.success === 'True') {
					alert('성공.');
					var userid = response.userid;
					$('#result').text('아이디는 ' + userid + ' 입니다.');
				} else {
					alert('이름이 일치하지 않습니다.');
					location.href = 'http://127.0.0.1:8000/users/find_id'

				}
			}
		});
	});
});
</scrip>
{% endblock %}