{% extends 'base.html' %}
{% block content %}
{% include 'users/user_menu.html' %}
<div class="inner">
	<div class="sign_card">
		<h1>비밀번호 찾기</h1>
		<p>회원정보에 등록된 휴대폰 번호로 찾기</p>
		<form action="" method="post">
			{% csrf_token %}
			<table class="info">
				<tr>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="2" class="big_td">
						<button class="next" id='next' type="button">LOGIN</button>
					</td>
				</tr>
                <tr>
                    <td>
                      <p>비밀번호는 abcde234^입니다.</p>
                    </td>
                </tr>
				<tr>
					<td colspan="2">
						<h3 id="result"></h3>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div id="password"></div>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
{% endblock %}
