{% extends 'base.html' %}
{% block content %}
<div class="inner">
	<div class="main_menu">
		<h2>MENU</h2>
		<ul>
			<li>
				<a href="#"><h3>프로젝트</h3></a>
				<ul>
					<li><a href="#">Sticker on face</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="sign_card">
		<h1>회원가입</h1>
		<form action="" method="post">
			<div class="info">
				<label for="name">NAME</label>
				<input id="name" type="text" name="name" required/>
			</div>
			<div class="info">
				<label for="user_ID">ID</label>
				<input id="user_ID" type="text" name="user_ID" required/>
				<button id="checkId">확인</button>
			</div>
			<div class="info">
				<label for="user_password">PASSWORD</label>
				<input id="user_password" type="password" name="user_password" required/>
			</div>
			<div class="info">
				<label for="phone">PHONE</label>
				<input id="phone" type="tel" name="phone" placeholder="010-XXXX-XXXX 형태로 입력" required/>
			</div>
			<div class="info">
				<label for="mail">EMAIL</label>
				<input id="mail" type="email" name="mail" required/>
			</div>
			<div class="signup">
				<button id="signup_button">SIGN UP</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}