<div class="main_menu">
	<ul class="sub_menu">
		<h2></h2>
		<h3 class="text-secondary"><ins>MENU</ins></h3>
		<li>
			<a href="{% url 'signup' %}" class="text-secondary"><h4>프로젝트</h4></a>
		</li>
		<li>
			<a href="{% url 'signup' %}" class="text-secondary"><h5>&nbsp;<ins>-sticker on face</ins></h5></a>
		</li>
		<li>
			<a href="{% url 'signup' %}" class="text-secondary"><h4>공지</h4></a>
		</li>
		<li>
			<a href="{% url 'signup' %}" class="text-secondary"><h4>자주묻는질문</h4></a>
		</li>
		<li>
			<a href="{% url 'signup' %}" class="text-secondary"><h4>게시판</h4></a>
		</li>
	</ul>
</div>